/* body{
  background-image: url(../images/electronics.png);  
} */

.tab{
  background-image: url(https://img.freepik.com/free-vector/gaming-computer-device-seamless-pattern_1284-51634.jpg?w=740&t=st=1704398787~exp=1704399387~hmac=475fc614b3c4d0cb161205439eaf056969360a3219cf4afcc52d9cd0e0f8b1eb);
  font-weight: 750;
  opacity: 5.0;
}
